{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="row justify-content-center mb-5">
		<div class="row pb-5 ">
			<div class="card custom-box-shadow">
				<div class="col-12 justify-content-center py-5">
					<h1 class="text-center">Rechercher un employer</h1>


				</div>
			</div>
		</div>
	</div>


	<div class="row justify-content-center mb-5">
		<div class="pt-5 col-lg-6 justify-content-center">
			<div class="card custom-box-shadow">

				<form method="get" action="{{ path('employer_search') }}">
					<label for="email">Email de l'Employé :</label>
				</br>
				<input type="email" id="email" name="email" required class="form-control w-100">
				<button type="submit" class="btn-custom rounded-pill mt-5">Rechercher</button>
			    </form>
		</div>
	</div>
</div>{% endblock %}
