{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!
{% endblock %}

{% block body %}
<div class="container pb-5 pt-5" id="inscription">
		<div class="row pb-5 ">
			<div class="card custom-box-shadow">
				<div class="col-12 justify-content-center py-5">
					<h1 class="text-center">Afficher les Animaux</h1>
				</div>
			</div>
		</div>
</div>

{% for animal in animaux %}
    <div>{{ animal.prenomAnimal }}</div>
    <div>{{ animal.id }}</div>
    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}" class="btn btn-primary">Éditer</a>
{% else %}
    <p>Aucun animal trouvé pour cet utilisateur.</p>
{% endfor %}

{% endblock %}