{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation des Images{% endblock %}

{% block body %}
<div class="container mt-5 ">
    <div class="row ">
        <h1 class="text-center">Conditions Générales d'Utilisation des Images -VETOTOIL</h1>
        <p>
            <h2>En utilisant les services de Vetotoil, vous acceptez les conditions suivantes relatives à l'utilisation
            d'images :</h2>
        </p>

        <p>
            <strong> <h4>Propriété des Images :</h4></strong> Toutes les images mises à disposition sur la plateforme Vetotoil
            sont la propriété exclusive de Vetotoil ou de ses partenaires, sauf indication contraire. L'utilisation non
            autorisée de ces images est strictement interdite.
        </p>

        <p>
            <strong><h4> Droits d'Utilisateur des Images : </h4></strong>En téléchargeant, partageant, ou affichant des images
            sur la plateforme Vetotoil, l'utilisateur déclare et garantit détenir les droits nécessaires sur ces images.
            L'utilisateur s'engage à ne pas violer les droits d'auteur, les droits de propriété intellectuelle ou tout
            autre droit légal lié aux images qu'il met à disposition sur Vetotoil.
        </p>
        <p>
            <strong><h4>Contenu pour Adultes et Enfants Mineurs : </h4></strong>Vetotoil s'engage à fournir un environnement en
            ligne
            sûr et respectueux. En conséquence, l'utilisateur s'engage à ne pas télécharger, partager, ou diffuser des
            images à caractère pornographique, obscène, explicite, ou tout contenu inapproprié mettant en scène des
            enfants
            mineurs.
        </p>
        <p>
        <h4><strong>Images de Violence ou de Consommation Excessive d'Alcool : </h4></strong>L'utilisateur s'engage à ne pas
            télécharger, partager, ou diffuser des images présentant des actes violents, des scènes de torture, ou une
            consommation excessive d'alcool. Vetotoil encourage des comportements respectueux et responsables, excluant
            toute promotion de la violence ou de la consommation excessive d'alcool.
        </p>

        <p>
        <h4> <strong> Responsabilité de l'Utilisateur : </h4></strong>L'utilisateur est seul responsable du contenu qu'il
            télécharge, partage, ou affiche sur la plateforme Vetotoil. L'utilisateur reconnaît et accepte que toute
            infraction à ces conditions peut entraîner la résiliation immédiate de son compte et l'engagement de
            poursuites légales, le cas échéant.
        </p>
        <p>
        <h4> <strong>Signalement des Contenus Inappropriés : </h4></strong>Vetotoil encourage les utilisateurs à signaler tout
            contenu inapproprié ou en violation de ces conditions. Les signalements peuvent être effectués via les
            mécanismes prévus à cet effet sur la plateforme.

        </p>
        <p>
        <h4> <strong>Signalement des Contenus Inappropriés :</h4></strong> Vetotoil encourage les utilisateurs à signaler tout
            contenu inapproprié ou en violation de ces conditions. Les signalements peuvent être effectués via les
            mécanismes prévus à cet effet sur la plateforme.
        </p>


        <p>
        <h4><strong>Modération et Suppression :</strong> </h4>Vetotoil se réserve le droit de surveiller, modérer et
            supprimer tout contenu qui enfreint ces conditions, sans préavis. La décision de Vetotoil concernant la
            violation de ces conditions est finale.
        </p>

        <p>
            Conséquences Légales : Les utilisateurs comprennent et acceptent que la violation de ces conditions peut
            entraîner des conséquences légales, y compris des poursuites civiles et pénales.

    </div>
</div>
{% endblock %}