{% extends 'base.html.twig' %}

{% block title %}Créneaux RDV
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card custom-box-shadow p-3 mb-5 bg-body rounded">
			<div class="row">
				<div class="col-12 justify-content-center text-center">
					<h1>Vos rdv pour les 7 prochains jours</h1>
				</div>
			</div>
		</div>


		
<div class="row">
				{% for date, heures in creneauxDisponible %}
        
			<div class="col-12 col-lg-4">
      <div class="card custom-box-shadow">
					<h3>{{ date }}</h3>
					<div class="jour">
						{% for heure, info in heures %}
            <div class="card">
							<div class="creneau">
								<strong>{{ heure }}</strong>
								:
								{% if info is iterable %}

									<div>

										<p>Prenom Animal:
											{{ info['infoPatient'][5] }}</p>
									</div>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail">Détail</button>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#annuler">
										Annuler le rdv
									</button>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#valider">
										Valider le rdv
									</button>

									<!-- Modal -->
									{% include 'rdv_employer/modal/detail.html.twig' with {'info': info} %}
									{% include 'rdv_employer/modal/annuler.html.twig' with {'info': info} %}
									{% include 'rdv_employer/modal/valider.html.twig' with {'info': info} %}


								{% else %}
									{{ info }}
									<button type="button" class="btn btn-secondary">Ajouter</button>
								{% endif %}
</div>
							</div>
						{% endfor %}

					</div>
				</div>
        </div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
