{% extends 'base.html.twig' %}

{% block title %}Hello FullRegistrationController!
{% endblock %}

{% block body %}
<h1>Votre compte a été desactivez ,contacter nous par mail pour plus d information</h1>
{% endblock %}
