{% extends 'base.html.twig' %}

{% block title %}Hello FullRegistrationController!{% endblock %}

{% block body %}
<div class="container pb-5 pt-5" id="inscription">
<div class="row pb-5 ">
			<div class="card custom-box-shadow">
				<div class="col-12 justify-content-center py-5">
					<h1 class="text-center">En attente de validation patientez 48h pour la validation</h1>
				</div>
			</div>
		</div>
</div>

{% endblock %}