
body {
    background-color: #FEFEE2;
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
  
}
.hidden-form-rdv{
    display: none ;  
}


.navbar,.footer {
    background: linear-gradient(white, purple);
}

.footer {

	text-align: center;
	padding: 10px;    
}
footer li{
    list-style: none;
}
footer li a{
  
    text-decoration: none; 
}
.espacemain{
    padding-top: 3rem;
}
.custom-box-shadow {
    box-shadow:  10px 5px 5px darkgrey;
}
.label-large {
    font-size: 24px;
}
.input-large {
    font-size: 24px; 
}
.bg-instagram{
   
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      
}
.social{
  padding-right: 1em;
}

h1,h2,strong,span,label{
    color: purple;
  
}

h1,h2{
    font-style: italic;
    font-weight: 600;
}
.special {

    font-size: 24px; 

}
strong{
    font-style: italic;
}
.taille-image{
    width: 8%;
}
.image-pro{
    width: 30%;
}
.btn-custom {
    background-color:purple !important;
width: 100%;
color: white !important;
  }
  fieldset{
    background-color: white;
  }
  .inputsansbordure{
    border: none; 
    background-color: transparent;
  }
  .nav-item .nav-link {
    color: inherit; 
    text-decoration: none;
}
.nav-item .nav-link:hover {
    color: white;
  
}
.bold{
    font-weight: bolder;
    font-size: larger;
}
@media only screen and (min-width: 1200px) {
    .degrader {
        background: linear-gradient(white, purple);
        flex: 0 0 16.66667%; 
        max-width: 16.66667%;
    }
    .btn-custom:hover {
        background-color:pink !important;
        color: purple !important;
      
    }
    .grand{
        font-size: 500%;
    }
    
}