


<footer class="footer bg-transparent text-center pb-4">
    
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="d-flex justify-content-center">
                    <img src="/images/img/logo.png" alt="logo-vetotoil" height="30" width="30" class="me-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Vetotoil</h6>
                </div>
                <p>Pour la prise de rendez vous de votre animal préféré</p>

            </div>
            <div class="col-md-2 col-lg-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold ">Mes services</h6>


                <ul class='list-unstyled text-center'>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href="?controller=acces&action=acces_connexion">Connexion</a>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href="?controller=acces&action=acces_inscription">Inscription</a>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href='?controller=home&action=contact'>Contact</a>
                </ul>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto pt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Mention Légale</h6>


                <ul class='list-unstyled text-center'>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href="{{ path('app_mention_legal_politique') }}">Politique de Confidentialité</a>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href="{{ path('app_mention_legal_rdgp') }}">RGPD</a>
                        <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href="{{ path('app_mention_legal_image') }}">Politique de Confidentialité Image</a>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Siège Social</h6>
                <p class="fs-6"><i class="bi bi-house mr-3"></i>6 avenue du Maréchal Ney 13011 Marseille</p>
                <p class="fs-6"><i class="bi bi-envelope mr-3"></i>regnier.sylvain.afpa@gmail.com</p>
                <p class="fs-6"><i class="bi bi-phone mr-3"></i>06.20.94.17.45</p>



            </div>

        </div>
        <hr class="mb-4">
        <div class="row align-item-center">
            <div class="col-md-7 col-lg-8">
                <p>Copyright &copy; Regnier Syvain pour VETOTOIL</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline d-flex">
                        <li class="social"><a href="#" class="btn-floating btn-sm text-white bg-primary"
                                style="font-size: 23px;"><i class="bi bi-facebook"></i></a></li>
                        <li class="social"><a href="#" class="btn-floating btn-sm text-white bg-dark"
                                style="font-size: 23px;"><i class="bi bi-twitter-x"></i></a></li>
                        <li class="social">
                            <div class="bg-instagram"><a href="#" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;"><i class="bi bi-instagram"></i></a></div>
                        </li>
                        <li class="social"><a href="#" class="btn-floating btn-sm text-white bg-primary"
                                style="font-size: 23px;"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    

</footer>
